@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.container {
	width: 100%;
	display: grid;
}

.section__content {
	grid-template-columns: repeat(2, 1fr);
}

.item:first-child {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white300);
}

.item img {
	width: 350px;
}

.item:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.item:last-child p,
.item:last-child h1 {
	/*width: 44%;*/
	font-family: 'Merriweather', sans-serif;
	margin-bottom: 5px;
}

.item:last-child p {
	margin-right: 21rem;
	font-size: 1.5rem;
}

.item:last-child h1 {
	margin-bottom: 5rem;
	margin-right: 8rem;
}

.form {
	padding-top: 60px;
	width: 55%;
}

.form__group label {
	font-family: 'Lato', sans-serif;
	display: block;
	margin-top: 1rem;
	margin-bottom: 0.8rem;
}

.form__group input {
	display: block;
	border: 1px solid var(--input);
	border-radius: 0.4em;
	padding: 16px;
	width: 100%;
	outline: none;
}

.form__group:last-child input {
	position: absolute;
	width: 100%;
}

.form__group i {
	width: 20px;
	position: relative;
	bottom: 35px;
	left: 90%;
}

.checkbox {
	font-family: 'Lato', sans-serif;
	margin-top: 2rem;
	margin-bottom: 3rem;
	font-size: 1.3rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.checkbox__content {
    display: flex;
    align-items: center;
}

.checkbox input {
	margin-right: 1rem;
}

.checkbox a {
	color: var(--blue);
}

.buttons {
	margin-top: 2rem;
	width: 100%;
	text-align: center;
	font-family: 'Lato';
}

.buttons button {
	text-align: center;
	padding: 16px 50px;
	font-size: 1.7rem;
	width: 100%;
	color: var(--white);
	border-radius: 0.4em;
	margin-bottom: 1rem;
}

.login {
	background-color: var(--green);
}

.login:hover {
	background-color: #01873f;
}

.google {
	background-color: var(--dark);
	background-image: url(../image/google.png);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 40px 15px;
}

.google:hover {
	background-color: #0b0d12;
}

span {
	font-family: 'Lato', sans-serif;
	display: block;
	text-align: center;
	padding-top: 10rem;
	font-size: 1.5rem;
}

span a {
	color: var(--blue);
}

@media (max-width: 768px) and (min-width: 401px){ 
	.item:first-child {
		display: none;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.form {
		padding: 40px 0;
		width: 90%;
	}

	.google {
		background-position: 50px 15px;
	}

	.item:last-child h1 {
		font-size: 2.5rem;
	}

	.checkbox {
		font-size: 1.3rem;
	}
}

@media (max-width: 400px) {
	.item:first-child {
		display: none;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.form {
		padding: 40px 0;
		width: 90%;
	}

	.google {
		background-position: 30px 15px;
	}

	.item:last-child h1 {
		font-size: 2.5rem;
	}

	.checkbox {
		font-size: 1.3rem;
	}
}
