@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.container {
	width: 100%;
	display: grid;
}

.section__content {
	grid-template-columns: repeat(2, 1fr);
}

.item:first-child {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white300);
}

.item img {
	width: 350px;
}

.item:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.item:last-child p,
.item:last-child h1 {
	/*width: 44%;*/
	font-family: 'Merriweather', sans-serif;
	margin-bottom: 5px;
}

.item:last-child p {
        min-width: 100%;
	margin-right: 21rem;
	font-size: 1.25rem;
}

.item:last-child h1 {
        min-width: 100%;
	margin-bottom: 5rem;
	margin-right: 8rem;
}

.form {
	padding-top: 60px;
	width: 55%;
}

.form__group label {
	font-family: 'Lato', sans-serif;
	display: block;
	margin-top: 1rem;
	margin-bottom: 0.8rem;
}

.form__group input {
	display: block;
	border: 1px solid var(--input);
	border-radius: 0.4em;
	padding: 16px;
	width: 100%;
	outline: none;
}.
.form__group input:after {
       outline: 1px solid var(--input);
}

.form__group:last-child input {
	position: absolute;
	width: 100%;
}

.form__group i {
	width: 20px;
	position: relative;
	bottom: 35px;
	left: 90%;
}

.checkbox {
	font-family: 'Lato', sans-serif;
	margin-top: 2rem;
	margin-bottom: 3rem;
	font-size: 1.3rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.checkbox__content {
    display: flex;
    align-items: center;
}

.checkbox input {
	margin-right: 1rem;
  	border: 0;
  	clip: rect(0 0 0 0);
  	height: 1px;
  	margin: -1px;
  	overflow: hidden;
  	padding: 0;
  	position: absolute;
  	width: 1px;
}
.checkbox label {
  	position: relative;
  	padding-left: 2.2em;
  	display: inline-block;
}
.checkbox label::before {
  	content: "";
  	display: inline-block;
  	vertical-align: middle;
  	height: 1.5em;
  	width: 1.5em;
  	background: var(--white300);
  	margin-right: 0.5em;
  	border: 1px solid var(--input);
  	border-radius: 50%;
  	transition: all 0.2s ease;
  	position: absolute;
  	top: 48%;
  	left: 0;
  	transform: translate(0, -50%);
}
.checkbox label::after {
  	font-family: "FontAwesome";
    content: "\f00c";
  	position: absolute;
  	top: 50%;
  	left: 0.8em;
  	transform: translate(-50%, -50%);
  	font-size: 1em;
  	color: #FFF;
  	opacity: 0;
  	transition: all 0.2s ease;
}
.checkbox label:focus::before, .checkbox label:hover::before {
  	background: #DDD;
}
.checkbox input:checked + label::before {
  	background: var(--blue);

}
.checkbox input:checked + label::after {
  	opacity: 1;
}
.checkbox a {
	color: var(--blue);
}

.buttons {
	margin-top: 2rem;
	width: 100%;
	text-align: center;
	font-family: 'Lato';
}

.buttons button {
	text-align: center;
	padding: 16px 50px;
	font-size: 1.7rem;
	width: 100%;
	color: var(--white);
	border-radius: 0.4em;
	margin-bottom: 1rem;
}

.login {
	background-color: var(--green);
}

.login:hover {
	background-color: #01873f;
}

.google {
	background-color: var(--dark);
	background-image: url(../image/google.png);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 40px 15px;
}

.google:hover {
	background-color: #0b0d12;
}

span {
	font-family: 'Lato', sans-serif;
	display: block;
	text-align: center;
	padding-top: 10rem;
	font-size: 1.5rem;
}

span a {
	color: var(--blue);
}

@media (max-width: 768px) and (min-width: 401px){ 
	.item:first-child {
		display: none;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.form {
		padding: 40px 0;
		width: 80%;
	}

	.google {
		background-position: 30px 15px;
	}
        .item:last-child h1 {
	       font-size: 2.4rem;
        }

	.checkbox {
		font-size: 1.3rem;
	}
}

@media (max-width: 400px) {
	.item:first-child {
		display: none;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.form {
		padding: 40px 0;
		width: 80%;
	}

	.google {
		background-position: 20px 15px;
	}

	.checkbox {
		font-size: 1.3rem;
	}
}
